# File Monitor Hosts - inherits all server checks plus file age monitoring
define hostgroup {
	hostgroup_name filemon_hosts
        alias File Monitor Hosts
}

{% for host in groups['filemon_hosts'] %}
{% if hostvars[host].ansible_os_family == "RedHat" %}

define host {
	use                     linux-server
	host_name               {{ host }}
	alias                   {{ host }}
	address                 {{ hostvars[host].ansible_default_ipv4.address }}
	hostgroups              filemon_hosts
}

# Standard server checks (inherited from servers group pattern)
define service {
	use                     local-service
	host_name               {{ host }}
    hostgroup_name		    filemon_hosts
	service_description	    SSH
	check_command		    check_ssh
	notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     PING
    check_command           check_ping!200.0,20%!600.0,60%
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     CPU Load
    check_command           check_nrpe!check_load
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Total Processes
    check_command           check_nrpe!check_total_procs
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Zombie Processes
    check_command           check_nrpe!check_zombie_procs
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Current Users
    check_command           check_nrpe!check_users
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Disk Check
    check_command           check_nrpe!check_root
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Check Swap
    check_command           check_nrpe!check_swap
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Uptime
    check_command           check_nrpe!check_uptime
    notifications_enabled   1
}

# File age monitoring check(s)
{% if host in filemon_hosts_config %}
{% for file in filemon_hosts_config[host] %}
define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     {{ file.description | default('File Age: ' ~ file.path) }}
    check_command           check_nrpe!check_file_age_{{ loop.index0 }}
    notifications_enabled   1
}

{% endfor %}
{% else %}
define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     File Age Check
    check_command           check_nrpe!check_file_age
    notifications_enabled   1
}
{% endif %}

{% endif %}

{% if hostvars[host].ansible_distribution == "FreeBSD" %}

define host {
    use                     linux-server
    host_name               {{ host }}
    alias                   {{ host }}
    address                 {{ hostvars[host].ansible_default_ipv4.address }}
    hostgroups              filemon_hosts
}

# Standard server checks (FreeBSD)
define service {
	use			            local-service
	host_name               {{ host }}
    hostgroup_name		    filemon_hosts
	service_description	    SSH
	check_command		    check_ssh
	notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     PING
    check_command           check_ping!200.0,20%!600.0,60%
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     CPU Load
    check_command           check_nrpe!bsd_check_load
    notifications_enabled   1

}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Total Processes
    check_command           check_nrpe!bsd_check_procs
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Check Swap
    check_command           check_nrpe!bsd_check_swap
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Current Users
    check_command           check_nrpe!bsd_check_users
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Disk Check
    check_command           check_nrpe!bsd_check_disk
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Uptime
    check_command           check_nrpe!bsd_check_uptime
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Zombie Processes
    check_command           check_nrpe!bsd_check_zombie_procs
    notifications_enabled   1
}

# File age monitoring check(s) (FreeBSD)
{% if host in filemon_hosts_config %}
{% for file in filemon_hosts_config[host] %}
define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     {{ file.description | default('File Age: ' ~ file.path) }}
    check_command           check_nrpe!bsd_check_file_age_{{ loop.index0 }}
    notifications_enabled   1
}

{% endfor %}
{% else %}
define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     File Age Check
    check_command           check_nrpe!bsd_check_file_age
    notifications_enabled   1
}
{% endif %}

{% endif %}
{% if hostvars[host].ansible_os_family == "Debian" %}

define host {
	use                     linux-server
	host_name               {{ host }}
	alias                   {{ host }}
	address                 {{ hostvars[host].ansible_default_ipv4.address }}
	hostgroups              filemon_hosts
}

# Standard server checks (Debian/Ubuntu)
define service {
	use                     local-service
	host_name               {{ host }}
    hostgroup_name		    filemon_hosts
	service_description	    SSH
	check_command		    check_ssh
	notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     PING
    check_command           check_ping!200.0,20%!600.0,60%
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     CPU Load
    check_command           check_nrpe!check_load
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Total Processes
    check_command           check_nrpe!check_total_procs
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Zombie Processes
    check_command           check_nrpe!check_zombie_procs
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Current Users
    check_command           check_nrpe!check_users
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Disk Check
    check_command           check_nrpe!check_root
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Check Swap
    check_command           check_nrpe!check_swap
    notifications_enabled   1
}

define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     Uptime
    check_command           check_nrpe!check_uptime
    notifications_enabled   1
}

# File age monitoring check(s) (Debian/Ubuntu)
{% if host in filemon_hosts_config %}
{% for file in filemon_hosts_config[host] %}
define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     {{ file.description | default('File Age: ' ~ file.path) }}
    check_command           check_nrpe!check_file_age_{{ loop.index0 }}
    notifications_enabled   1
}

{% endfor %}
{% else %}
define service {
    use                     generic-service
    host_name               {{ host }}
    hostgroup_name          filemon_hosts
    service_description     File Age Check
    check_command           check_nrpe!check_file_age
    notifications_enabled   1
}
{% endif %}

{% endif %}
{% endfor %}
